body{
margin: 0;
box-sizing: border-box;
color: #303030;
font-family: "open sans", sans-serif;
}

h1,h2,h3,p{
margin: 0;
padding: 0;
}

img{
display: block;
max-width: 100%;
height: auto;
}

.list{
margin: 0;
padding: 0;
list-style: none;
}